{% extends "kestrel.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block kestreltitle %}Edit Profile : {{ user.username }}{% endblock %}

{% block kestrelmenu %}
<ul class="hover-menu vertical fleft">
	<li>
		<input type="hidden" name="navigator" value="#/view/" />
		<input type="hidden" name="tile" value="#person-view-{{ person.id }}" />
		<input type="hidden" name="cntr" value="#kestrelbase" />
		<a href="/~{{ user.username }}/" class="collect">View Profile</a>
	</li>
	<li>
		<input type="hidden" name="navigator" value="#/view/" />
		<input type="hidden" name="tile" value="#person-passwd-{{ person.id }}" />
		<input type="hidden" name="cntr" value="#kestrelbase" />
		<a href="/~{{ user.username }}/" class="collect">Change Password</a>
	</li>
	<li>
		<input type="hidden" name="navigator" value="#/view/" />
		<input type="hidden" name="tile" value="#person-photo-{{ person.id }}" />
		<input type="hidden" name="cntr" value="#kestrelbase" />
		<a href="/~{{ user.username }}/" class="collect">Change Photo</a>
	</li>
</ul>
{% endblock %}

{% block kestrelpage %}
	<div id="person-edit-panel-{{ person.id }}" class="panel">
		<input type="hidden" name="navigator" value="#/write/" />
		<input type="hidden" name="sel" value="#person-edit-panel-{{ person.id }}" />
		<input type="hidden" name="pnl" value="#kestrelbase" />
		<input type="hidden" name="act" value="all" />
		<input type="hidden" name="anm" value="none" />
		<form action="/run/user/edit/{{ user.username }}.html/" method="post" class="collect">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{ user.username }}" />
			{% if edit and errors %}
				<p class="error">{{ errors }}</p>
			{% endif %}
			<table class="formtable part15"><tbody>									
				<tr><td>First Name</td>
				<td><input type="text" name="first_name" class="required" value="{{ user.first_name }}"/><span class="error hidden">Invalid Firstname</span></td></tr>
				<tr><td>Last Name</td>
				<td><input type="text" name="last_name" class="required" value="{{ user.last_name }}"/><span class="error hidden">Invalid Lastname</span></td></tr>
				<tr><td>Short Description</td>
				<td><textarea name="desc" class="cover" >{{ person.desc }}</textarea></td></tr>
				<tr><td>Phone</td>
				<td><input type="text" name="phone" class="" value="{{ person.phone }}"/></td></tr>
				<tr><td>Address</td>
				<td><textarea name="address" class="cover" >{{ person.address }}</textarea></td></tr>
				<tr><td>Gender</td>
				<td><select name="gender" >
						<option value="N" {% if person.gender == "N" %}selected="selected"{% endif %} >Select</option>
						<option value="M" {% if person.gender == "M" %}selected="selected"{% endif %} >Male</option>
						<option value="F" {% if person.gender == "F" %}selected="selected"{% endif %} >Female</option>
				</select></td></tr>
				<tr><td>Date of Birth</td>
				<td><input type="text" name="dateofbirth" value="{% if person.dateofbirth %}{{ person.dateofbirth }}{% endif %}"/><span class="desc">Format : YYYY-MM-DD</span></td></tr>
				<tr><td></td><td>
					<input name="edit" type="submit" value="Submit" class="button"/>
					<input name="reset" type="reset" value="Reset" class="button"/>
					<span class="status"></span>
				</td></tr>
			</tbody></table>
		</form>
	</div>
{% endblock %}
