{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block kestrelblock %}
<div id="person-view-{{ person.id }}" class="tile-content" {% if view %}style="display: block"{% endif %}>
	{% include 'person/home.html' %}
</div>
<div id="person-edit-{{ person.id }}" class="tile-content" {% if edit %}style="display: block"{% endif %}>
	{% include 'person/edit.html' %}
</div>
<div id="person-passwd-{{ person.id }}" class="tile-content" {% if passwd %}style="display: block"{% endif %}>
	{% include 'person/passwd.html' %}
</div>
<div id="person-photo-{{ person.id }}" class="tile-content" {% if photo %}style="display: block"{% endif %}>
	{% include 'person/photo.html' %}
</div>
{% endblock %}
