{% extends 'kestrel.html' %}

{% block header %}{% if not kestrel %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel='shortcut icon' href="/ui/img/geostore/icon.png"/>
		<title>{% block title %}{% endblock %} - GeoStore</title>
		
		<link rel="stylesheet" type="text/css" href="/ui/css/geostore-ui.css" />
		<!--<link rel="stylesheet" type="text/css" href="ui/css/jquery.jtweetsanywhere-1.3.1.css" />-->
		
		<script charset="utf-8" type="text/javascript" src="/ui/js/geostore-ui.js"></script>
	</head>

	<body>
		<span id="load-status"><span class="state loading">Loading GeoStore ...</span></span>
		
		<div id="kestrelwindow">
			<div id="kestrelhead">
				<div id="kestrellogo">
					<a href="/" title="GeoStore Home"><img src="/ui/img/geostore/logo.png" alt="GeoStore Logo" /></a>
				</div>
			</div>
			
			<div id="kestrelbase">
{% endif %}{% endblock %}

{% block footer %}{% if not kestrel %}
			</div>
			
			<div id="kestrelfooter">
				<div id="footer">
					<p><strong>GeoStore &copy; 2012</strong></p>
					<p>
						<span>
							<a href="/">Home</a> &middot; 
						</span>
						<span>
							<input type="hidden" name="navigator" value="#/html/" />
							<input type="hidden" name="url" value="/info/about.html/" />
							<input type="hidden" name="cntr" value="#kestrelbase" />
							<a href="/info/about/" class="collect">About</a> &middot; 
						</span>
						<span>
							<input type="hidden" name="navigator" value="#/html/" />
							<input type="hidden" name="url" value="/info/faq.html/" />
							<input type="hidden" name="cntr" value="#kestrelbase" />
							<a href="/info/faq/" class="collect">FAQ</a> &middot; 
						</span>
						<span>
							<input type="hidden" name="navigator" value="#/html/" />
							<input type="hidden" name="url" value="/info/terms.html/" />
							<input type="hidden" name="cntr" value="#kestrelbase" />
							<a href="/info/terms/" class="collect">Terms</a> &middot; 
						</span>
						<span>
							<input type="hidden" name="navigator" value="#/html/" />
							<input type="hidden" name="url" value="/info/support.html/" />
							<input type="hidden" name="cntr" value="#kestrelbase" />
							<a href="/info/support/" class="collect">Help</a>
						</span>
					</p>
				</div>
			</div>
		</div>
		
		<div id="ui-imports"></div>
	</body>
</html>
{% endif %}{% endblock %}
