<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel='shortcut icon' href="/ui/img/geostore/icon.png"/>
		<title>{% block title %}{% endblock %} - GeoStore</title>
		
		<link rel="stylesheet" type="text/css" href="/ui/css/geostore-ui.css" />
		<!--<link rel="stylesheet" type="text/css" href="ui/css/jquery.jtweetsanywhere-1.3.1.css" />-->
		
		<script charset="utf-8" type="text/javascript" src="/ui/js/geostore-ui.js"></script>
	</head>

	<body>
		<span id="load-status"><span class="state loading">Loading GeoStore ...</span></span>
		
		<div id="geowindow">
			<div id="geohead">
				<div id="geologo">
					<a href="/" title="GeoStore Home"><img src="/ui/img/geostore/logo.png" alt="GeoStore Logo" /></a>
				</div>
			</div>
			
			<div id="geobar"><div id="geobar-wrap">	
				{% if user.is_authenticated %}
					{% block geobar %}{% endblock %}
				{% endif %}
			</div></div>
			
			<div id="geotitle">
				<p class="fleft">{% block geotitle %}{% endblock %}</p>
				
				<div id="geouser" class="fright">
					<div id="minimenu" class="fleft topmenu">
						<ul class="hover-menu vertical">
						{% if user.is_authenticated %}
							<li>
								<a href="/user/{{ user.username }}/" title="Profile">{{ user.username }} <img src="/ui/files/people/{{ user.username }}.png" alt="Photo" class="userphoto" /></a>
								<ul class="hover-block">
									<li><a href="/logout/">Logout</a></li>
								</ul>
							</li>
						{% else %}
							<li>
								<a href="/account/register/" >Register</a>
							</li>
						<div class="panel inline"></div>
						{% endif %}
						</ul>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
			
			<div id="geomenu" class="submenu">
				<ul class="hover-menu vertical fleft">
					<li>
						<a href="/" >Home</a>
					</li>
					<li>
						<a href="/info/about/">About</a>
					</li>
					<li>
						<a href="/info/faq/">FAQ</a>
					</li>
				</ul>
				
				<ul class="hover-menu vertical fright">
					<li>
						<a href="/info/support/">Help</a>
					</li>
				</ul>
			</div>
			
			<div id="geopage">
				{% if user.is_authenticated %}
					{% block geopage %}{% endblock %}
				{% else %}
				<div id="account" class="fence">
					<div class="menutitle">Account</div>
					<div id="login-panel" class="panel">
						<form action="/login/" method="post" class="" id="_write:sel._login-panel:ln._login">
							{% csrf_token %}
							<input type="hidden" name="service" value="session" />
							<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}" />
							{% if request.POST.login and form.errors %}
								<p>{{ form.errors }}</p>
							{% endif %}
							<table class="formtable left part15"><tbody>									
								<tr><td>Username</td>
								<td><input type="text" name="username" class="required srnd" value="{{ request.POST.username }}"/><span class="error hidden">Invalid Username</span></td></tr>
								<tr><td>Password</td>
								<td><input type="password" name="password" class="required srnd" /><span class="error hidden">Invalid Password</span></td></tr>
								<tr><td colspan="2" style="text-align: center !important; padding: 5px;">
									<a href="/account/password/" class="button">Forgot Password ?</a>&nbsp;
									<input name="login" type="submit" value="Sign In" class="button"/>
									<!--<input name="reset" type="reset" value="Reset" class="button"/>-->
								</td></tr>
							</tbody></table>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
			
			<div id="geofooter">
				<p><strong>GeoStore &copy; 2012</strong></p>
				<p><a href="/">Home</a> &middot; <a href="/info/about/">About</a> &middot; <a href="/info/faq/">FAQ</a> &middot; <a href="/info/terms/">Terms</a> &middot; <a href="/info/support/">Help</a></p>
			</div>
		</div>
		
		<div id="ui-imports"></div>
	</body>
</html>
