{% comment %}
	Kestrel UI base template 
	Blocks : header, kestrelbar, kestreltitle, kestrelmenu, kestrelpage, footer
{% endcomment %}

{% block header %}{% endblock %}

{% block kestrelblock %}
<div class="kestreltitle">
	<p class="fleft">{% block kestreltitle %}{% endblock %}</p>
	
	{% include 'default/kestreluser.html' %}
	<div class="clearfloat"></div>
</div>

<div class="kestrelmenu submenu">
	{% block kestrelmenu %}
		{% include 'default/kestrelmenu.html' %}
	{% endblock %}
</div>

<div class="kestrelcontent">
	{% block kestrelcontent %}
	<div class="kestrelbar"><div class="kestrelbar-wrap">	
		{% block kestrelbar %}{% include 'default/kestrelbar.html' %}{% endblock %}
	</div></div>

	<div class="kestrelpage">
		{% block kestrelpage %}{% endblock %}
	</div>
	{% endblock %}
</div>
{% endblock %}

{% block footer %}{% endblock %}
